html {
  font-size: 10px;
}
html,
body {
  background-color: $color-background;
  @extend %font-prim;
}

.title {
  padding: 0 20px;
  @include font($size: 2rem, $weight: 700);
}
.subtitle {
  padding: 0 20px;
  @include font($size: 1.6rem, $weight: 700);
}

.modal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  @include font($size: 2.6rem, $weight: 700);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    color: rgb(120, 44, 44);
    scale: 1;
  }
  25% {
    color: rgb(12, 66, 12);
  }
  50% {
    color: rgb(171, 129, 46);
    scale: 1.2;
  }
  75% {
    color: rgb(109, 60, 68);
  }
  100% {
    color: rgb(47, 47, 106);
    scale: 1;
  }
}
