// $color-primary: #05334c;
// $color-primary-light: #2d5b75;
// $color-secondary: #aaaaaa;
$color-border-dark: #191928;
$color-border-light: #bec7ce;
$color-dark-text: #28283b;
$color-light-text: #d5b4df;
$color-background: #727285;
$color-background-table: #28283b;
// $color-active: #209e10;

// $laptop-large-width: 1200px;
// $laptop-width: 1024px;
$tablet-width: 768px;

// $laptop-height: 992px;
// $tablet-height: 800px;
