$color-border-dark: #191928;
$color-border-light: #bec7ce;
$color-dark-text: #28283b;
$color-light-text: #d5b4df;
$color-background: #727285;
$color-background-table: #28283b;
$color-disabled: #878787;

$tablet-width: 768px;
