@mixin font($size, $color: $color-dark-text, $weight: 300, $style: normal) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-style: $style;
}
@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}
