.score__table {
  // width: 400px;
  margin: 30px 40px 0 40px;
  border-radius: 9px;
  background-color: $color-background-table;
  border: 2px solid $color-border-light;
  @include font($size: 1.6rem, $color: $color-light-text);
  @include media-tablet {
    font-size: 1.2rem;
    margin: 20px 10px 10px;
  }
}

.score__header-table {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid $color-border-dark;
  margin-bottom: 10px;
}
.score__header-name {
  width: 80px;

  &:nth-child(3) {
    width: 150px;
  }
}

.score__item {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-border-light;
  margin-bottom: 5px;
}

.score__item-car {
  width: 70px;
  &:nth-child(3) {
    width: 150px;
  }
}
