.track {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: dashed white 5px;
  margin-top: 20px;
}

.track__setting-buttons {
  display: flex;
  align-items: center;
  max-width: 100px;
  flex-wrap: wrap;
  // > * {
  //   margin-right: 10px;
  // }
}

// .track__setting-action {
//   display: flex;
//   align-items: center;
//   > * {
//     margin-right: 10px;
//   }
// }

.track__wrapper {
  display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  // border-bottom: dashed white 5px;
}
.track__car-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track__finish {
  width: 55px;
  margin-right: 150px;
}

.track__car {
  display: inline-block;
  width: 110px;
  height: 45px;
  // background-color: red;
  -webkit-mask: url('../../assets/img/car.svg') no-repeat center;
  mask: url(../../assets/img/car.svg) no-repeat center;
  // background-size: 120px 40px;
}

.car-small {
  width: 50px;
  height: 30px;
  -webkit-mask: url('../../assets/img/car-small.svg') no-repeat center;
  mask: url(../../assets/img/car-small.svg) no-repeat center;
}
